<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tenda.tarefa04">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".CambiarDatosPerfil"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Administrador_VerPedidosVer"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Administrador_VerPedidosAR"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Rexistro"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".VerCompras"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".VerPedidos"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".EnderezoEnvio"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".FacerPedido"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Cliente"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Administrador"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>